@font-face {
	font-family: 'GothamPro';
	src: url('./fonts/GothamPro.eot?#iefix') format('embedded-opentype'),  url('./fonts/GothamPro.woff') format('woff'), url('./fonts/GothamPro.ttf')  format('truetype'), url('./fonts/GothamPro.svg#GothamPro') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('./fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),  url('./fonts/GothamPro-Medium.woff') format('woff'), url('./fonts/GothamPro-Medium.ttf')  format('truetype'), url('./fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('./fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),  url('./fonts/GothamPro-Bold.woff') format('woff'), url('./fonts/GothamPro-Bold.ttf')  format('truetype'), url('./fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'GothamPro', sans-serif;
  font-size: 16px;
}

.screen-wrap {
  padding: 40px 0 60px;
}

.heading {
  font-size: 46px;
  text-align: center;
  margin-bottom: 20px;
}

.descr {
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px;
}

.error-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.error-heading {
  font-size: 86px;
  font-weight: 700;
  color: #1db453;
  margin-bottom: 20px;
}

select {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    padding: 0 40px 0 20px;
    font-size: 16px;
}

@media screen and (max-width: 639px) {
  .screen-wrap {
    padding: 20px 0 40px;
  }
  
  .heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .descr {
    font-size: 16px;
    margin: 0 auto 30px;
  }
}
