.button {
    width: 100%;
    max-width: 200px;
    background: #ffb103;
    font-size: 18px;
    color: #fff;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button--orrange {
    background: #faaf09;
}

.button--orrange:hover {
    background: #f0a705;
}

.button--green {
    background: #1cbe56;
}

.button--green:hover {
    background: #1db453;
}

