.form-control-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input[type="checkbox"] {
    display: none;
}

.label {
    position: relative;
    padding-left: 30px;
}

.label:before {
    content: "";
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.label:hover:before {
    border: 1px solid #1db453;
}

input:checked + .label:before {
    border: 1px solid #1db453;
    background: #1db453;
}


				